@media screen and (min-width: 320px) {
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5em;
  }

  .container {
    display: flex;
    align-items: center;
    gap: 1.5em;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 14.5em;
  }

  .title {
    text-transform: capitalize;
    color: rgb(237, 246, 255);
    font-size: 1em;
    font-family: Lato;
  }

  .desc {
    color: rgb(137, 141, 146);
    font-size: 0.875em;
    font-family: Lato;
    font-weight: 300;
    line-height: 1.6;
    text-transform: capitalize;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 3em;
  }
}
