/* @media screen and (min-width: 320px) {
  .list {
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 20px;
    width: 22px;
    align-items: center;
    justify-content: center;
  }
  .icon {
    color: rgb(35, 57, 66);
  }
  .list::before,
  .list::after {
    content: "";
    width: 1px;
    height: 60px;
    background-color: rgb(35, 57, 66);
  }
}
@media screen and (min-width: 678px) {
  .list::before,
  .list::after {
    content: "";
    width: 1px;
    height: 200px;
    background-color: rgb(35, 57, 66);
  }
} */


@media screen and (min-width: 320px) {
  .list {
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 1.25em; 
    width: 1.375em; 
    align-items: center;
    justify-content: center;
  }
  .icon {
    color: rgb(35, 57, 66);
  }
  .list::before,
  .list::after {
    content: "";
    width: 0.0625em; 
    height: 3.75em; 
    background-color: rgb(35, 57, 66);
  }
}

@media screen and (min-width: 678px) {
  .list::before,
  .list::after {
    content: "";
    width: 0.0625em; 
    height: 12.5em; 
    background-color: rgb(35, 57, 66);
  }
}
