@media screen and (min-width: 320px) {
  .list {
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 20px;
    width: 22px;
    align-items: center;
  }
  .icon {
    stroke: rgb(35, 57, 66);
  }
  .list::before,
  .list::after {
    content: "";
    width: 1px;
    height: 40px;
    background-color: rgb(35, 57, 66);
  }
}
