/* @media screen and (min-width: 320px) {
  .slides {
    padding-top: 80px;
    margin: 0 auto;
  }
  .listItem {
    width: 294px;
  }
} */

@media screen and (min-width: 320px) {
  .slides {
    padding-top: 5em; 
    margin: 0 auto;
  }
  .listItem {
    width: 18.375em; 
  }
}
