/* @media screen and (min-width: 320px) {
  .container {
    width: 280px;
    height: 280px;
    position: absolute;
    transform: translate(-50%, -20%);
    background-color: rgb(35, 57, 66);
    top: 50%;
    left: 50%;
  }
} */

@media screen and (min-width: 320px) {
  .container {
    width: 17.5em;
    height: 17.5em;
    position: absolute;
    transform: translate(-50%, -1.25em);
    background-color: rgb(35, 57, 66);
    top: 50%;
    left: 50%;
  }
}
