.navigation {
  background: linear-gradient(to right, #233942 50%, #0d0f11 50%);
}
.blur {
  backdrop-filter: blur(30px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  padding: 16px;
}
.logo,
.home {
  text-transform: uppercase;
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  height: 1.75em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: flex;
  align-items: center;
}
