/* @media screen and (min-width: 320px) {
  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 24px;
  }
  .icon {
    color: #fafafa;
  }
  .buttonArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 100%;
    border: 1px solid #fafafa;
    width: 32px;
    height: 32px;
  }
  .end {
    border: 1px solid #727171;
  }
} */

@media screen and (min-width: 320px) {
  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 1.5em;
  }
  .icon {
    color: #fafafa;
    z-index: 1000;
    width: 16px;
  }
  .buttonArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #fafafa;
    width: 2em;
    height: 2em;
  }
  .end {
    border: 1px solid #727171;
  }
}
