@media screen and (min-width: 320px) {
  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .button {
    background-color: transparent;
    border: none;
    color: rgb(137, 141, 146);
    text-transform: capitalize;
    font-size: 1em;
    font-family: Lato;
    font-weight: 500;
    cursor: pointer;
    width: 140px;
    height: 40px;
    border-top: 1px solid rgb(137, 141, 146);
    border-left: 1px solid rgb(137, 141, 146);
    border-bottom: 1px solid rgb(137, 141, 146);
    border-radius: 2px;
  }
}

@media screen and (min-width: 767px) {
  .container {
    padding-left: 40px;
  }
}
