@media screen and (min-width: 320px) {
  .formContainer {
    width: 100%;
    height: auto;
    background: var(--base-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 8px auto;
    overflow: auto;
    border-radius: 8px;
  }

  .button {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 12px;
    right: 12px;
  }

  .icon {
    color: rgb(137, 141, 146);
    transition: color 0.5s ease-in-out;
    width: 18px;
    height: 18px;
    cursor: pointer;
  }

  .icon:hover {
    color: rgb(238, 240, 241);
  }

  .form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 18px;
  }

  .blur {
    backdrop-filter: blur(3em);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
  }

  .title {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-size: 20px;
    font-weight: 500;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(223, 225, 226);
    gap: 4px;
    width: 100%;
    position: relative;
  }

  .input {
    padding-left: 8px;
    width: 100%;
    height: 40px;
  }

  .inputTextArea {
    width: 100%;
    padding-left: 8px;
    height: 60px;
    resize: none;
  }

  .buttonSubmit {
    border: none;
    background-color: transparent;
    border-top: 2px solid rgb(137, 141, 146);
    border-bottom: 2px solid rgb(137, 141, 146);
    border-left: 2px solid rgb(137, 141, 146);
    border-radius: 4px;
    width: 100%;
    height: 48px;
    color: rgb(137, 141, 146);
    font-family: Lato;
    font-size: 20px;
    font-weight: 500;
    line-height: 31px;
    text-transform: capitalize;
    transition: all 0.5s;
    margin-top: 20px;
    cursor: pointer;
  }

  .buttonSubmit:hover {
    color: #759bab;
    border-color: #759bab;
  }

  .error {
    position: absolute;
    top: 50px;
    color: red;
  }
}

@media screen and (min-width: 768px) {
  .icon {
    width: 28px;
    height: 28px;
  }

  .formContainer {
    width: 700px;
  }

  .blur {
    padding: 32px;
  }

  .inputContainer {
    width: 260px;
  }

  .input {
    height: 32px;
  }

  .buttonSubmit {
    width: 260px;
  }
}

@media screen and (min-width: 1439px) {
  .formContainer {
    width: 800px;
    height: 800px;
  }

  .inputContainer {
    width: 280px;
  }

  .input {
    height: 44px;
  }

  .buttonSubmit {
    width: 280px;
  }
}
