@media screen and (min-width: 320px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    justify-content: center;
  }
  .listItem {
    width: 300px;
    height: 340px;
    object-fit: cover;
    margin: 16px;
  }
  ul {
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 767px) {
  .list {
    flex-direction: row;
  }
  .listItem {
    width: 300px;
    height: 380px;
    object-fit: cover;
    margin: 16px;
  }
  ul {
    margin: 0;
    padding: 0;
  }
}
