@media screen and (min-width: 320px) {
  .aboutUsSection {
    padding: 60px 0;
  }
  .containerAbout {
    padding: 0 32px;
  }
}

@media screen and (min-width: 767px) {
  .aboutUsSection {
    padding: 80px 0;
  }
  .containerAbout {
    padding: 0 66px;
  }
}
