@media screen and (min-width: 320px) {
  .list {
    display: none;
    list-style: none;
    flex-direction: column;
    gap: 0.5em;
  }
  .link {
    text-decoration: none;
    color: rgb(137, 141, 146);
    transition: color 0.4s ease-in-out;
    font: Lato;
    font-weight: 500;
    font-size: 1em;
    text-transform: uppercase;
  }
  .link:hover {
    color: rgb(255, 255, 255);
  }

  .line {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
  }
  .bottomLine,
  .bmBurgerButton {
    background-color: #fafaff;
    width: 1.5em;
    height: 0.125em;
    display: block;
  }
  .visuallyHidden {
    position: absolute;
    width: 0.0625em;
    height: 0.0625em;
    margin: -0.0625em;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .line {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
    position: relative;
    z-index: 99999999; /* Завжди зверху */
  }

  .bottomLine,
  .bmBurgerButton {
    background-color: #fafaff;
    width: 1.5em;
    height: 0.125em;
    display: block;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  .bmBurgerButton {
    transform-origin: center;
  }

  .bmBurgerButton.open {
    transform: rotate(45deg) translate(2px, 2px);
    background-color: #dbdbdb;
  }

  .bottomLine.open {
    transform: rotate(-45deg) translate(5px, -5px);
    background-color: #d3d5d6;
  }
}

@media screen and (min-width: 767px) {
  .list {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }
  .link {
    font-size: 0.875em;
    text-transform: uppercase;
  }
  .line {
    display: none;
  }
}

@media screen and (min-width: 1439px) {
  .list {
    display: flex;
    flex-direction: row;
    gap: 3.625em;
  }
}
