@media screen and (min-width: 320px) {
  .price {
    background-image: linear-gradient(
        rgb(20, 31, 36, 1.2),
        rgba(20, 31, 36, 0.4)
      ),
      url(../../../img/retro-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .priceTitle {
    justify-content: flex-start;
  }
}
