@media screen and (min-width: 320px) {
  .titleContainer {
    display: flex;
    flex-direction: column;
    gap: 4em;
    width: 100%;
  }
  .titleOne {
    font-family: Lato;
    font-weight: 500;
    font-size: 2.5em;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    gap: 0.2em;
  }
  .titleTwo {
    padding-left: 2em;
  }
  .descContainer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  .desc {
    width: 11em;
    display: flex;
    color: rgb(227, 238, 248);
    font-family: Lato;
    font-weight: 400;
    font-size: 1em;
    height: 5em;
  }
}

@media screen and (min-width: 768px) {
  .titleContainer {
    gap: 9.625em;
  }
  .titleOne {
    font-size: 3.75em;
    display: flex;
  }
  .desc {
    width: 13.25em;
    font-size: 1.125em;
    color: rgb(185, 186, 187);
    align-items: flex-end;
  }
}
