@media screen and (min-width: 320px) {
  .whyMe {
    padding: 0 16px;
  }
  .whyMe {
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 767px) {
  .whyMe {
    padding: 0 32px;
  }

  .whyMe {
    padding-bottom: 90px;
  }
}
