@media screen and (min-width: 320px) {
  .list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 8px;
  }
  .icon {
    color: rgb(255, 255, 255);
    width: 16px;
    height: 16px;
  }
}

@media screen and (min-width: 767px) {
  .list {
    gap: 16px;
  }
  .icon {
    width: 24px;
    height: 24px;
  }
}
