.slides {
  position: relative;
}

.button {
  position: absolute;
  backdrop-filter: blur(8px);
  background: rgba(102, 102, 102, 0.21);
  border: none;
  top: 70%;
  right: 50%;
  z-index: 999999;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  height: 50px;
  width: 140px;
}
.item {
  color: rgb(255, 255, 255);
  width: 100px;
  height: 40px;
}
