@media screen and (min-width: 320px) {
  .topLine {
    padding: 0 20px;
    background: linear-gradient(to right, #233942 50%, #0d0f11 50%);
    width: 100%;
    height: 60px;
  }
  .hederWrapper {
    height: 100%;
    backdrop-filter: blur(30px);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .heroSection {
    background-image: url(./img/noah-PhotoRoom.png),
      linear-gradient(to right, #233942 50%, #0d0f11 50%);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: space-between;
    background-position-x: center;
    background-position-y: bottom;
  }
  .heroAll {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    width: 100%;
  }
  @media (min-resolution: 192dpi) {
    .heroSection {
      background-image: url(./img/noah-PhotoRoom2x.png),
        linear-gradient(to right, #233942 50%, #0d0f11 50%);
      display: flex;
    }
  }
  /* About Us */
  .aboutUs {
    padding-bottom: 80px;
  }
  .containerAbout {
    padding: 0 32px;
  }
  .whyMe {
    padding: 0 16px;
  }
  .whyMe,
  .portfolio {
    padding-bottom: 80px;
  }
  .testimonials {
    background: rgb(20, 31, 36);
    padding: 60px 8px;
  }
  .price {
    background-image: linear-gradient(
        rgb(20, 31, 36, 1.2),
        rgba(20, 31, 36, 0.4)
      ),
      url(./img/retro-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .priceTitle {
    justify-content: flex-start;
  }
  .getMore {
    height: 300px;
    position: relative;
  }
}

@media screen and (min-width: 767px) {
  .topLine {
    display: flex;
    align-items: center;
    padding: 0 60px;
  }
  .hederWrapper {
    height: 100%;
    width: 100%;
  }
  .heroSection {
    padding: 40px 0;
    margin-bottom: 80px;
  }
  .heroAll {
    padding: 0 80px;
  }
  .heroContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
  }
  .aboutUs {
    padding-bottom: 90px;
  }
  .whyMe {
    padding: 0 32px;
  }

  .whyMe,
  .portfolio {
    padding-bottom: 90px;
  }
  .testimonials {
    background: rgb(20, 31, 36);
    padding: 80px 16px;
  }
}

@media screen and (min-width: 1439px) {
  .topLine {
    padding: 0 120px;
  }
}
