:root {
  font-family: Cormorant, system-ui, Lato, sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  --base-gradient: linear-gradient(to right, #375865 50%, #1b1f23 50%);

  --base-transition: all 0.5s ease;
  --base-color-hover: #759bab5e;
}
body {
  background: rgb(13, 15, 17);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.swiper-pagination-bullet {
  background-color: white;
}

.swiper-pagination-bullet-active {
  background-color: rgb(135, 135, 137);
}

.dayFree {
  cursor: pointer;
  background-color: #09234e;
  transition: var(--base-transition);
}
.dayFree:hover {
  background-color: var(--base-color-hover);
}

.dayBooked {
  color: red;
  cursor: not-allowed;
  background-color: transparent;
}

.dayPast {
  color: #759bab;
  cursor: default;
}

.rbc-date-cell.rbc-now .rbc-button-link {
  color: rgb(255, 255, 255);

  font-weight: 700;
  font-size: 24px;
}

.rbc-off-range .rbc-button-link {
  color: rgb(128, 128, 129);
}

.rbc-button-link {
  color: rgb(209, 209, 209);
  font-size: 20px;
}

a.rbc-button-link {
  pointer-events: none;
}
