.container{
    display: flex;
    justify-content: flex-end;
}

.title {
  color: rgb(255, 255, 255);
  font-family: Cormorant;
  font-size: 32px;
  font-weight: 400;
  line-height: 85px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
